.title{
    color: blue;
}
.lesson{
    background-color: blanchedalmond;
}
#email{
    background-color: blueviolet;
}
#github{
    background-color: brown;
}
#portfolio{
    background-color: burlywood;
}
